* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  height: 100vh;
}
#main {
  height: 100vh;
}

#side {
  margin-top: 2rem;
}
#input {
  background-color: #e2e2e2;
  border: 2px solid #e2e2e2;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
#stats {
  margin-top: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  height: 495px;
}
#stats #graph {
  background-color: #ffffff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 1rem;
}
#stats #number {
  background-color: #ff6c40;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1rem;
}
#stats #graph span {
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #593636;
}
#actual-graph {
  height: 100%;
}
#date {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.8;
}
#data-1 {
  background: #ffe700;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 105px;
}
#data-2 {
  background: #1ffd77;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 105px;
}
#notice-main {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  height: 100vmin;
}
#notice {
  width: 80%;
  border-radius: 15px;
  background-color: #ffffff;
}
#notice #nav li {
  list-style: none;
  padding: 0.5rem;
  border-top-right-radius: 15px;
  text-align: center;
}
#notice #nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#notice-area {
  background: #ffffff;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  list-style: none;
  padding: 0.5rem;
  margin: 0.5rem;
}
#notice-area li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#img-block {
  width: 46px;
  height: 56px;
}
#others {
  margin-top: 1rem;
}
#notepad {
  position: relative;
  background-color: white;
  width: 100%;
  height: 300px;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.5rem;
}
#add {
  margin: 0.5rem;
  position: absolute;
  background-color: #ff6c40;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  color: white;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.notes {
  list-style: none;
  cursor: text;
}

#small-graph {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 4rem;
}
#this-month {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 4rem;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}
#this-month #this-month-graph {
  display: flex;
  justify-content: space-between;
}
#last-month {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
  border-radius: 15px;
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}
#last-month #this-month-graph {
  display: flex;
  justify-content: space-between;
}
#inbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
  border-radius: 15px;
  padding: 1rem;
}
