@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.reg-main {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.reg-div-user {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
}
.title-user {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 500;
  font-family: "Fredoka One", cursive;
}
.label-user {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.button-user {
  font-size: 20px;
  font-weight: 600;
  font-family: "Fredoka One", cursive;
  color: white;
  background-color: black;
  border: none;
}
